# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes

ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
!*.*.meta
Assets/Editor/x64/Bakery/uvTerrainSmoothPos.pso.meta
Assets/Editor/x64/Bakery/uvTerrainSmoothPos.pso
Assets/Editor/x64/Bakery/uvTerrainPos.pso.meta
Assets/Editor/x64/Bakery/uvTerrainPos.pso
Assets/Editor/x64/Bakery/uvTerrainNormal.pso.meta
Assets/Editor/x64/Bakery/uvTerrainNormal.pso
Assets/Editor/x64/Bakery/uvTerrainFaceNormal.pso.meta
Assets/Editor/x64/Bakery/uvTerrainFaceNormal.pso
Assets/Editor/x64/Bakery/uvtangent.pso.meta
Assets/Editor/x64/Bakery/uvtangent.pso
Assets/Editor/x64/Bakery/uvsmoothpos.pso.meta
Assets/Editor/x64/Bakery/uvsmoothpos.pso
Assets/Editor/x64/Bakery/uvsmoothpos.gso.meta
Assets/Editor/x64/Bakery/uvsmoothpos.gso
Assets/Editor/x64/Bakery/uvrepack.dll.meta
Assets/Editor/x64/Bakery/uvrepack.dll
Assets/Editor/x64/Bakery/uvpos.pso.meta
Assets/Editor/x64/Bakery/uvpos.pso
Assets/Editor/x64/Bakery/uvnormal.pso.meta
Assets/Editor/x64/Bakery/uvnormal.pso
Assets/Editor/x64/Bakery/uvgbuffergen.dll.meta
Assets/Editor/x64/Bakery/uvgbuffergen.dll
Assets/Editor/x64/Bakery/uvfacenormal_point.gso.meta
Assets/Editor/x64/Bakery/uvfacenormal_point.gso
Assets/Editor/x64/Bakery/uvfacenormal.gso.meta
Assets/Editor/x64/Bakery/uvfacenormal.gso
Assets/Editor/x64/Bakery/uvemissive.pso.meta
Assets/Editor/x64/Bakery/uvemissive.pso
Assets/Editor/x64/Bakery/uvalbedo.pso.meta
Assets/Editor/x64/Bakery/uvalbedo.pso
Assets/Editor/x64/Bakery/uv.vso.meta
Assets/Editor/x64/Bakery/uv.vso
Assets/Editor/x64/Bakery/trimeshTexLODSelect.ptx.meta
Assets/Editor/x64/Bakery/trimeshTexLODSelect.ptx
Assets/Editor/x64/Bakery/trimeshTex.ptx.meta
Assets/Editor/x64/Bakery/trimeshTex.ptx
Assets/Editor/x64/Bakery/trimesh.ptx.meta
Assets/Editor/x64/Bakery/trimesh.ptx
Assets/Editor/x64/Bakery/tbbmalloc.dll.meta
Assets/Editor/x64/Bakery/tbbmalloc.dll
Assets/Editor/x64/Bakery/tbb.dll.meta
Assets/Editor/x64/Bakery/tbb.dll
Assets/Editor/x64/Bakery/skyOutput.pso.meta
Assets/Editor/x64/Bakery/skyOutput.pso
Assets/Editor/x64/Bakery/simpleProgressBar.dll.meta
Assets/Editor/x64/Bakery/simpleProgressBar.dll
Assets/Editor/x64/Bakery/shadow_rtx.ptx.meta
Assets/Editor/x64/Bakery/shadow_rtx.ptx
Assets/Editor/x64/Bakery/shadow3_rtx.ptx.meta
Assets/Editor/x64/Bakery/shadow3_rtx.ptx
Assets/Editor/x64/Bakery/shadow3.ptx.meta
Assets/Editor/x64/Bakery/shadow3.ptx
Assets/Editor/x64/Bakery/shadow.ptx.meta
Assets/Editor/x64/Bakery/shadow.ptx
Assets/Editor/x64/Bakery/shaderSrc/ftrace.cginc.meta
Assets/Editor/x64/Bakery/shaderSrc/ftrace.cginc
Assets/Editor/x64/Bakery/shaderSrc.meta
Assets/Editor/x64/Bakery/seamfixer.exe.meta
Assets/Editor/x64/Bakery/seamfixer.exe
Assets/Editor/x64/Bakery/seamfix.vso.meta
Assets/Editor/x64/Bakery/seamfix.vso
Assets/Editor/x64/Bakery/scripts/xatlas/xatlasLib.dll.meta
Assets/Editor/x64/Bakery/scripts/xatlas/xatlasLib.dll
Assets/Editor/x64/Bakery/scripts/xatlas/xatlasEnable.cs.meta
Assets/Editor/x64/Bakery/scripts/xatlas/xatlasEnable.cs
Assets/Editor/x64/Bakery/scripts/xatlas/xatlas.cs.meta
Assets/Editor/x64/Bakery/scripts/xatlas/xatlas.cs
Assets/Editor/x64/Bakery/scripts/xatlas/xatlas-license.txt.meta
Assets/Editor/x64/Bakery/scripts/xatlas/xatlas-license.txt
Assets/Editor/x64/Bakery/scripts/xatlas.meta
Assets/Editor/x64/Bakery/scripts/ftUVGBufferGen.cs.meta
Assets/Editor/x64/Bakery/scripts/ftUVGBufferGen.cs
Assets/Editor/x64/Bakery/scripts/ftTextureProcessor.cs.meta
Assets/Editor/x64/Bakery/scripts/ftTextureProcessor.cs
Assets/Editor/x64/Bakery/scripts/ftSkyLightInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftSkyLightInspector.cs
Assets/Editor/x64/Bakery/scripts/ftShaderTweaks.cs.meta
Assets/Editor/x64/Bakery/scripts/ftShaderTweaks.cs
Assets/Editor/x64/Bakery/scripts/ftSceneView.cs.meta
Assets/Editor/x64/Bakery/scripts/ftSceneView.cs
Assets/Editor/x64/Bakery/scripts/ftSaveSettingsMenu.cs.meta
Assets/Editor/x64/Bakery/scripts/ftSaveSettingsMenu.cs
Assets/Editor/x64/Bakery/scripts/ftSavePadding.cs.meta
Assets/Editor/x64/Bakery/scripts/ftSavePadding.cs
Assets/Editor/x64/Bakery/scripts/ftSavedPadding2.cs.meta
Assets/Editor/x64/Bakery/scripts/ftSavedPadding2.cs
Assets/Editor/x64/Bakery/scripts/ftRestorePaddingMenu.cs.meta
Assets/Editor/x64/Bakery/scripts/ftRestorePaddingMenu.cs
Assets/Editor/x64/Bakery/scripts/ftRenderLightmap.cs.meta
Assets/Editor/x64/Bakery/scripts/ftRenderLightmap.cs
Assets/Editor/x64/Bakery/scripts/ftPointLightInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftPointLightInspector.cs
Assets/Editor/x64/Bakery/scripts/ftModelPostProcessor.cs.meta
Assets/Editor/x64/Bakery/scripts/ftModelPostProcessor.cs
Assets/Editor/x64/Bakery/scripts/ftLMGroupSelectorInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftLMGroupSelectorInspector.cs
Assets/Editor/x64/Bakery/scripts/ftLMGroupInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftLMGroupInspector.cs
Assets/Editor/x64/Bakery/scripts/ftLightMeshInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftLightMeshInspector.cs
Assets/Editor/x64/Bakery/scripts/ftLightmapsStorageInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftLightmapsStorageInspector.cs
Assets/Editor/x64/Bakery/scripts/ftLightmappedPrefabInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftLightmappedPrefabInspector.cs
Assets/Editor/x64/Bakery/scripts/ftLightingDataGen.cs.meta
Assets/Editor/x64/Bakery/scripts/ftLightingDataGen.cs
Assets/Editor/x64/Bakery/scripts/ftFixResettingGlobalsOnSave.cs.meta
Assets/Editor/x64/Bakery/scripts/ftFixResettingGlobalsOnSave.cs
Assets/Editor/x64/Bakery/scripts/ftErrorCodes.cs.meta
Assets/Editor/x64/Bakery/scripts/ftErrorCodes.cs
Assets/Editor/x64/Bakery/scripts/ftDirectLightInspector.cs.meta
Assets/Editor/x64/Bakery/scripts/ftDirectLightInspector.cs
Assets/Editor/x64/Bakery/scripts/ftDetectSettings.cs.meta
Assets/Editor/x64/Bakery/scripts/ftDetectSettings.cs
Assets/Editor/x64/Bakery/scripts/ftDefine.cs.meta
Assets/Editor/x64/Bakery/scripts/ftDefine.cs
Assets/Editor/x64/Bakery/scripts/ftDDS.cs.meta
Assets/Editor/x64/Bakery/scripts/ftDDS.cs
Assets/Editor/x64/Bakery/scripts/ftCreateMenu.cs.meta
Assets/Editor/x64/Bakery/scripts/ftCreateMenu.cs
Assets/Editor/x64/Bakery/scripts/ftClient.cs.meta
Assets/Editor/x64/Bakery/scripts/ftClient.cs
Assets/Editor/x64/Bakery/scripts/ftClearMenu.cs.meta
Assets/Editor/x64/Bakery/scripts/ftClearMenu.cs
Assets/Editor/x64/Bakery/scripts/ftBuildLights.cs.meta
Assets/Editor/x64/Bakery/scripts/ftBuildLights.cs
Assets/Editor/x64/Bakery/scripts/ftBuildGraphics.cs.meta
Assets/Editor/x64/Bakery/scripts/ftBuildGraphics.cs
Assets/Editor/x64/Bakery/scripts/ftAdditionalConfig.cs.meta
Assets/Editor/x64/Bakery/scripts/ftAdditionalConfig.cs
Assets/Editor/x64/Bakery/scripts/BakeryEditorAssembly.asmdef.meta
Assets/Editor/x64/Bakery/scripts/BakeryEditorAssembly.asmdef
Assets/Editor/x64/Bakery/scripts.meta
Assets/Editor/x64/Bakery/rgba2tga.exe.meta
Assets/Editor/x64/Bakery/rgba2tga.exe
Assets/Editor/x64/Bakery/removeEmissive.ptx.meta
Assets/Editor/x64/Bakery/removeEmissive.ptx
Assets/Editor/x64/Bakery/quad.vso.meta
Assets/Editor/x64/Bakery/quad.vso
Assets/Editor/x64/Bakery/postAddHalf.ptx.meta
Assets/Editor/x64/Bakery/postAddHalf.ptx
Assets/Editor/x64/Bakery/postAddDir.ptx.meta
Assets/Editor/x64/Bakery/postAddDir.ptx
Assets/Editor/x64/Bakery/packalpha_noflip.pso.meta
Assets/Editor/x64/Bakery/packalpha_noflip.pso
Assets/Editor/x64/Bakery/packalpha.pso.meta
Assets/Editor/x64/Bakery/packalpha.pso
Assets/Editor/x64/Bakery/output.pso.meta
Assets/Editor/x64/Bakery/output.pso
Assets/Editor/x64/Bakery/optix_denoiser.6.0.0.dll.meta
Assets/Editor/x64/Bakery/optix_denoiser.6.0.0.dll
Assets/Editor/x64/Bakery/optix_denoiser.51.dll.meta
Assets/Editor/x64/Bakery/optix_denoiser.51.dll
Assets/Editor/x64/Bakery/optix.6.0.0.dll.meta
Assets/Editor/x64/Bakery/optix.6.0.0.dll
Assets/Editor/x64/Bakery/optix.51.dll.meta
Assets/Editor/x64/Bakery/optix.51.dll
Assets/Editor/x64/Bakery/optix.1.dll.meta
Assets/Editor/x64/Bakery/optix.1.dll
Assets/Editor/x64/Bakery/OpenImageDenoise.dll.meta
Assets/Editor/x64/Bakery/OpenImageDenoise.dll
Assets/Editor/x64/Bakery/NormalsFittingTexture_dds.meta
Assets/Editor/x64/Bakery/NormalsFittingTexture_dds
Assets/Editor/x64/Bakery/mulHalfByte.ptx.meta
Assets/Editor/x64/Bakery/mulHalfByte.ptx
Assets/Editor/x64/Bakery/miss.ptx.meta
Assets/Editor/x64/Bakery/miss.ptx
Assets/Editor/x64/Bakery/lodselect.ptx.meta
Assets/Editor/x64/Bakery/lodselect.ptx
Assets/Editor/x64/Bakery/lmTexGISH.ptx.meta
Assets/Editor/x64/Bakery/lmTexGISH.ptx
Assets/Editor/x64/Bakery/lmTexGIRNM.ptx.meta
Assets/Editor/x64/Bakery/lmTexGIRNM.ptx
Assets/Editor/x64/Bakery/lmTexGIProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmTexGIProbeSH.ptx
Assets/Editor/x64/Bakery/lmTexGIdir.ptx.meta
Assets/Editor/x64/Bakery/lmTexGIdir.ptx
Assets/Editor/x64/Bakery/lmTexGI.ptx.meta
Assets/Editor/x64/Bakery/lmTexGI.ptx
Assets/Editor/x64/Bakery/lmTexAreaLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmTexAreaLightSH.ptx
Assets/Editor/x64/Bakery/lmTexAreaLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmTexAreaLightRNM.ptx
Assets/Editor/x64/Bakery/lmTexAreaLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmTexAreaLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmTexAreaLightDir.ptx.meta
Assets/Editor/x64/Bakery/lmTexAreaLightDir.ptx
Assets/Editor/x64/Bakery/lmTexAreaLight.ptx.meta
Assets/Editor/x64/Bakery/lmTexAreaLight.ptx
Assets/Editor/x64/Bakery/lmSunSH.ptx.meta
Assets/Editor/x64/Bakery/lmSunSH.ptx
Assets/Editor/x64/Bakery/lmSunRNM.ptx.meta
Assets/Editor/x64/Bakery/lmSunRNM.ptx
Assets/Editor/x64/Bakery/lmSunProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmSunProbeSH.ptx
Assets/Editor/x64/Bakery/lmSunCloudShadowSH.ptx.meta
Assets/Editor/x64/Bakery/lmSunCloudShadowSH.ptx
Assets/Editor/x64/Bakery/lmSunCloudShadowRNM.ptx.meta
Assets/Editor/x64/Bakery/lmSunCloudShadowRNM.ptx
Assets/Editor/x64/Bakery/lmSunCloudShadowProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmSunCloudShadowProbeSH.ptx
Assets/Editor/x64/Bakery/lmSunCloudShadow.ptx.meta
Assets/Editor/x64/Bakery/lmSunCloudShadow.ptx
Assets/Editor/x64/Bakery/lmSun.ptx.meta
Assets/Editor/x64/Bakery/lmSun.ptx
Assets/Editor/x64/Bakery/lmSSSSH.ptx.meta
Assets/Editor/x64/Bakery/lmSSSSH.ptx
Assets/Editor/x64/Bakery/lmSSS.ptx.meta
Assets/Editor/x64/Bakery/lmSSS.ptx
Assets/Editor/x64/Bakery/lmSkyTex.ptx.meta
Assets/Editor/x64/Bakery/lmSkyTex.ptx
Assets/Editor/x64/Bakery/lmSkyTangentSH.ptx.meta
Assets/Editor/x64/Bakery/lmSkyTangentSH.ptx
Assets/Editor/x64/Bakery/lmSkySH.ptx.meta
Assets/Editor/x64/Bakery/lmSkySH.ptx
Assets/Editor/x64/Bakery/lmSkyRNM.ptx.meta
Assets/Editor/x64/Bakery/lmSkyRNM.ptx
Assets/Editor/x64/Bakery/lmSkyProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmSkyProbeSH.ptx
Assets/Editor/x64/Bakery/lmSkyDir.ptx.meta
Assets/Editor/x64/Bakery/lmSkyDir.ptx
Assets/Editor/x64/Bakery/lmSkyCubemapSH.ptx.meta
Assets/Editor/x64/Bakery/lmSkyCubemapSH.ptx
Assets/Editor/x64/Bakery/lmSkyCubemapRNM.ptx.meta
Assets/Editor/x64/Bakery/lmSkyCubemapRNM.ptx
Assets/Editor/x64/Bakery/lmSkyCubemapProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmSkyCubemapProbeSH.ptx
Assets/Editor/x64/Bakery/lmSkyCubemapDir.ptx.meta
Assets/Editor/x64/Bakery/lmSkyCubemapDir.ptx
Assets/Editor/x64/Bakery/lmSkyCubemap.ptx.meta
Assets/Editor/x64/Bakery/lmSkyCubemap.ptx
Assets/Editor/x64/Bakery/lmSky.ptx.meta
Assets/Editor/x64/Bakery/lmSky.ptx
Assets/Editor/x64/Bakery/lmrebake.dll.meta
Assets/Editor/x64/Bakery/lmrebake.dll
Assets/Editor/x64/Bakery/lmr.vso.meta
Assets/Editor/x64/Bakery/lmr.vso
Assets/Editor/x64/Bakery/lmr.pso.meta
Assets/Editor/x64/Bakery/lmr.pso
Assets/Editor/x64/Bakery/lmPointLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmPointLightSH.ptx
Assets/Editor/x64/Bakery/lmPointLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmPointLightRNM.ptx
Assets/Editor/x64/Bakery/lmPointLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmPointLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmPointLight.ptx.meta
Assets/Editor/x64/Bakery/lmPointLight.ptx
Assets/Editor/x64/Bakery/lmCubemapLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmCubemapLightSH.ptx
Assets/Editor/x64/Bakery/lmCubemapLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmCubemapLightRNM.ptx
Assets/Editor/x64/Bakery/lmCubemapLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmCubemapLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmCubemapLight.ptx.meta
Assets/Editor/x64/Bakery/lmCubemapLight.ptx
Assets/Editor/x64/Bakery/lmCookieLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmCookieLightSH.ptx
Assets/Editor/x64/Bakery/lmCookieLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmCookieLightRNM.ptx
Assets/Editor/x64/Bakery/lmCookieLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmCookieLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmCookieLight.ptx.meta
Assets/Editor/x64/Bakery/lmCookieLight.ptx
Assets/Editor/x64/Bakery/lmConeLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmConeLightSH.ptx
Assets/Editor/x64/Bakery/lmConeLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmConeLightRNM.ptx
Assets/Editor/x64/Bakery/lmConeLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmConeLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmConeLight.ptx.meta
Assets/Editor/x64/Bakery/lmConeLight.ptx
Assets/Editor/x64/Bakery/lmBatchPointLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmBatchPointLightSH.ptx
Assets/Editor/x64/Bakery/lmBatchPointLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmBatchPointLightRNM.ptx
Assets/Editor/x64/Bakery/lmBatchPointLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmBatchPointLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmBatchPointLight.ptx.meta
Assets/Editor/x64/Bakery/lmBatchPointLight.ptx
Assets/Editor/x64/Bakery/lmAreaLightSH.ptx.meta
Assets/Editor/x64/Bakery/lmAreaLightSH.ptx
Assets/Editor/x64/Bakery/lmAreaLightRNM.ptx.meta
Assets/Editor/x64/Bakery/lmAreaLightRNM.ptx
Assets/Editor/x64/Bakery/lmAreaLightProbeSH.ptx.meta
Assets/Editor/x64/Bakery/lmAreaLightProbeSH.ptx
Assets/Editor/x64/Bakery/lmAreaLightDir.ptx.meta
Assets/Editor/x64/Bakery/lmAreaLightDir.ptx
Assets/Editor/x64/Bakery/lmAreaLight.ptx.meta
Assets/Editor/x64/Bakery/lmAreaLight.ptx
Assets/Editor/x64/Bakery/lmAOdir.ptx.meta
Assets/Editor/x64/Bakery/lmAOdir.ptx
Assets/Editor/x64/Bakery/lmAO.ptx.meta
Assets/Editor/x64/Bakery/lmAO.ptx
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part3.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part3.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part2.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part2.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part1.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part1.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part0.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_5_6_part0.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part3.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part3.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part2.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part2.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part1.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part1.bin
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part0.bin.meta
Assets/Editor/x64/Bakery/lightingDataChunks/LightingData_2017_1_part0.bin
Assets/Editor/x64/Bakery/lightingDataChunks.meta
Assets/Editor/x64/Bakery/lambert_texarealight.ptx.meta
Assets/Editor/x64/Bakery/lambert_texarealight.ptx
Assets/Editor/x64/Bakery/lambert_tex_gi2.ptx.meta
Assets/Editor/x64/Bakery/lambert_tex_gi2.ptx
Assets/Editor/x64/Bakery/lambert_sss.ptx.meta
Assets/Editor/x64/Bakery/lambert_sss.ptx
Assets/Editor/x64/Bakery/lambert_sky.ptx.meta
Assets/Editor/x64/Bakery/lambert_sky.ptx
Assets/Editor/x64/Bakery/lambert_lodselect.ptx.meta
Assets/Editor/x64/Bakery/lambert_lodselect.ptx
Assets/Editor/x64/Bakery/lambert_backface_check.ptx.meta
Assets/Editor/x64/Bakery/lambert_backface_check.ptx
Assets/Editor/x64/Bakery/lambert_arealight.ptx.meta
Assets/Editor/x64/Bakery/lambert_arealight.ptx
Assets/Editor/x64/Bakery/ies2tex.exe.meta
Assets/Editor/x64/Bakery/ies2tex.exe
Assets/Editor/x64/Bakery/icon.png.meta
Assets/Editor/x64/Bakery/icon.png
Assets/Editor/x64/Bakery/hwtestdata/vbtraceUV0.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/vbtraceUV0.bin
Assets/Editor/x64/Bakery/hwtestdata/vbtrace.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/vbtrace.bin
Assets/Editor/x64/Bakery/hwtestdata/uvpos_tinyscene_LM0.lz4.meta
Assets/Editor/x64/Bakery/hwtestdata/uvpos_tinyscene_LM0.lz4
Assets/Editor/x64/Bakery/hwtestdata/uvnormal_tinyscene_LM0.lz4.meta
Assets/Editor/x64/Bakery/hwtestdata/uvnormal_tinyscene_LM0.lz4
Assets/Editor/x64/Bakery/hwtestdata/settings.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/settings.bin
Assets/Editor/x64/Bakery/hwtestdata/lms.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/lms.bin
Assets/Editor/x64/Bakery/hwtestdata/lmlod.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/lmlod.bin
Assets/Editor/x64/Bakery/hwtestdata/lmid.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/lmid.bin
Assets/Editor/x64/Bakery/hwtestdata/light_HDR.lz4.meta
Assets/Editor/x64/Bakery/hwtestdata/light_HDR.lz4
Assets/Editor/x64/Bakery/hwtestdata/image.lz4.meta
Assets/Editor/x64/Bakery/hwtestdata/image.lz4
Assets/Editor/x64/Bakery/hwtestdata/ib32.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/ib32.bin
Assets/Editor/x64/Bakery/hwtestdata/heightmaps.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/heightmaps.bin
Assets/Editor/x64/Bakery/hwtestdata/direct0.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/direct0.bin
Assets/Editor/x64/Bakery/hwtestdata/alphaid2.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/alphaid2.bin
Assets/Editor/x64/Bakery/hwtestdata/alphabuffer.bin.meta
Assets/Editor/x64/Bakery/hwtestdata/alphabuffer.bin
Assets/Editor/x64/Bakery/hwtestdata.meta
Assets/Editor/x64/Bakery/heightfieldTexLODSelect.ptx.meta
Assets/Editor/x64/Bakery/heightfieldTexLODSelect.ptx
Assets/Editor/x64/Bakery/heightfieldTex.ptx.meta
Assets/Editor/x64/Bakery/heightfieldTex.ptx
Assets/Editor/x64/Bakery/heightfield.ptx.meta
Assets/Editor/x64/Bakery/heightfield.ptx
Assets/Editor/x64/Bakery/halffloat2vb.dll.meta
Assets/Editor/x64/Bakery/halffloat2vb.dll
Assets/Editor/x64/Bakery/halffloat2hdr.exe.meta
Assets/Editor/x64/Bakery/halffloat2hdr.exe
Assets/Editor/x64/Bakery/ftServer.exe.meta
Assets/Editor/x64/Bakery/ftServer.exe
Assets/Editor/x64/Bakery/ftraceRTX.exe.meta
Assets/Editor/x64/Bakery/ftraceRTX.exe
Assets/Editor/x64/Bakery/ftrace.exe.meta
Assets/Editor/x64/Bakery/ftrace.exe
Assets/Editor/x64/Bakery/ftChecker.shader.meta
Assets/Editor/x64/Bakery/ftChecker.shader
Assets/Editor/x64/Bakery/frender.dll.meta
Assets/Editor/x64/Bakery/frender.dll
Assets/Editor/x64/Bakery/fixPos3D.ptx.meta
Assets/Editor/x64/Bakery/fixPos3D.ptx
Assets/Editor/x64/Bakery/fixPos2.ptx.meta
Assets/Editor/x64/Bakery/fixPos2.ptx
Assets/Editor/x64/Bakery/fixPos12.ptx.meta
Assets/Editor/x64/Bakery/fixPos12.ptx
Assets/Editor/x64/Bakery/fixPos1.ptx.meta
Assets/Editor/x64/Bakery/fixPos1.ptx
Assets/Editor/x64/Bakery/fixPos.ptx.meta
Assets/Editor/x64/Bakery/fixPos.ptx
Assets/Editor/x64/Bakery/exception.ptx.meta
Assets/Editor/x64/Bakery/exception.ptx
Assets/Editor/x64/Bakery/dilateSimple.pso.meta
Assets/Editor/x64/Bakery/dilateSimple.pso
Assets/Editor/x64/Bakery/dilateMask.ptx.meta
Assets/Editor/x64/Bakery/dilateMask.ptx
Assets/Editor/x64/Bakery/dilateHalf.ptx.meta
Assets/Editor/x64/Bakery/dilateHalf.ptx
Assets/Editor/x64/Bakery/dilateFloat.ptx.meta
Assets/Editor/x64/Bakery/dilateFloat.ptx
Assets/Editor/x64/Bakery/dilate.ptx.meta
Assets/Editor/x64/Bakery/dilate.ptx
Assets/Editor/x64/Bakery/dilate.pso.meta
Assets/Editor/x64/Bakery/dilate.pso
Assets/Editor/x64/Bakery/denoiserOIDN.exe.meta
Assets/Editor/x64/Bakery/denoiserOIDN.exe
Assets/Editor/x64/Bakery/denoiserLegacy.exe.meta
Assets/Editor/x64/Bakery/denoiserLegacy.exe
Assets/Editor/x64/Bakery/denoiser72.exe.meta
Assets/Editor/x64/Bakery/denoiser72.exe
Assets/Editor/x64/Bakery/denoiser.exe.meta
Assets/Editor/x64/Bakery/denoiser.exe
Assets/Editor/x64/Bakery/denoisePrepareSH_OIDN.ptx.meta
Assets/Editor/x64/Bakery/denoisePrepareSH_OIDN.ptx
Assets/Editor/x64/Bakery/denoisePrepareSH72.ptx.meta
Assets/Editor/x64/Bakery/denoisePrepareSH72.ptx
Assets/Editor/x64/Bakery/denoisePrepareSH.ptx.meta
Assets/Editor/x64/Bakery/denoisePrepareSH.ptx
Assets/Editor/x64/Bakery/denoisePrepareOIDN.ptx.meta
Assets/Editor/x64/Bakery/denoisePrepareOIDN.ptx
Assets/Editor/x64/Bakery/denoisePrepare72.ptx.meta
Assets/Editor/x64/Bakery/denoisePrepare72.ptx
Assets/Editor/x64/Bakery/denoisePrepare.ptx.meta
Assets/Editor/x64/Bakery/denoisePrepare.ptx
Assets/Editor/x64/Bakery/denoiseFinishSH_OIDN.ptx.meta
Assets/Editor/x64/Bakery/denoiseFinishSH_OIDN.ptx
Assets/Editor/x64/Bakery/denoiseFinishSH72.ptx.meta
Assets/Editor/x64/Bakery/denoiseFinishSH72.ptx
Assets/Editor/x64/Bakery/denoiseFinishSH.ptx.meta
Assets/Editor/x64/Bakery/denoiseFinishSH.ptx
Assets/Editor/x64/Bakery/denoiseFinishOIDN.ptx.meta
Assets/Editor/x64/Bakery/denoiseFinishOIDN.ptx
Assets/Editor/x64/Bakery/denoiseFinish72.ptx.meta
Assets/Editor/x64/Bakery/denoiseFinish72.ptx
Assets/Editor/x64/Bakery/denoiseFinish.ptx.meta
Assets/Editor/x64/Bakery/denoiseFinish.ptx
Assets/Editor/x64/Bakery/debugLines.pso.meta
Assets/Editor/x64/Bakery/debugLines.pso
Assets/Editor/x64/Bakery/d3dcompiler_47.dll.meta
Assets/Editor/x64/Bakery/d3dcompiler_47.dll
Assets/Editor/x64/Bakery/cudnn64_7.dll.meta
Assets/Editor/x64/Bakery/cudnn64_7.dll
Assets/Editor/x64/Bakery/cudart64_91.dll.meta
Assets/Editor/x64/Bakery/cudart64_91.dll
Assets/Editor/x64/Bakery/cudart64_90.dll.meta
Assets/Editor/x64/Bakery/cudart64_90.dll
Assets/Editor/x64/Bakery/cudart32_91.dll.meta
Assets/Editor/x64/Bakery/cudart32_91.dll
Assets/Editor/x64/Bakery/cookieOutput.pso.meta
Assets/Editor/x64/Bakery/cookieOutput.pso
Assets/Editor/x64/Bakery/combineMasks.exe.meta
Assets/Editor/x64/Bakery/combineMasks.exe
Assets/Editor/x64/Bakery/clip_rtx.ptx.meta
Assets/Editor/x64/Bakery/clip_rtx.ptx
Assets/Editor/x64/Bakery/attrib_trimeshTexLODselect.ptx.meta
Assets/Editor/x64/Bakery/attrib_trimeshTexLODselect.ptx
Assets/Editor/x64/Bakery/attrib_trimeshTex.ptx.meta
Assets/Editor/x64/Bakery/attrib_trimeshTex.ptx
Assets/Editor/x64/Bakery/attrib_trimesh.ptx.meta
Assets/Editor/x64/Bakery/attrib_trimesh.ptx
Assets/Editor/x64/Bakery/alphabuffergen.dll.meta
Assets/Editor/x64/Bakery/alphabuffergen.dll
Assets/Editor/x64/Bakery/addSH.ptx.meta
Assets/Editor/x64/Bakery/addSH.ptx
Assets/Editor/x64/Bakery/addHalfSeparateIndirect.ptx.meta
Assets/Editor/x64/Bakery/addHalfSeparateIndirect.ptx
Assets/Editor/x64/Bakery/addHalf.ptx.meta
Assets/Editor/x64/Bakery/addHalf.ptx
Assets/Editor/x64/Bakery/addDir.ptx.meta
Assets/Editor/x64/Bakery/addDir.ptx
Assets/Editor/x64/Bakery/addAO.ptx.meta
Assets/Editor/x64/Bakery/addAO.ptx
Assets/Editor/x64/Bakery/.uvgblog.txt
Assets/Editor/x64/Bakery/.ftracelog.txt
Assets/Editor/x64/Bakery/.denoiserlog.txt
Assets/Editor/x64/Bakery.meta
Assets/Editor/x64.meta
Assets/Editor.meta
